[Unit]
Description=IPTV Radius test service
After=freeradius.service
Requires=freeradius.service

[Service]
[Service]
ExecStart=/usr/bin/docker start radtest


[Install]
WantedBy=multi-user.target
